@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto:wght@400;700&display=swap');
.mainp{
    padding:3px;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
    color:#FFFFFF;
}

.recs, .news{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
    height: fit-content;
    width:100%;
    border: 1px solid #000000;
    margin-top: 10px;

}



.recs .name, .cinema .name, .news .name{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:fit-content;
    height: fit-content;
    font-size: 24px;

}

.recs .name:active, .cinema .name:active{
    transform: translateX(-2px);
    transform: translateY(2px);
    text-decoration: underline;
}

.recs .recsslide, .news .newsSlide{
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    flex-flow: row wrap;
}


.newsCard .newsCardback{
    width:30vw;
    height:20vw;
    background-color: #FFFFFF;
    margin: 1vw;
    border-radius: 10px;
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;
}

.recsCard{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    height:20vw;
    width:20vw;
    background-color: #FFFFFF;
    margin: 1vw;
    border-radius: 10px;
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;

}

.newsCard{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    height:20vw;
    width:30vw;
    background-color: #FFFFFF;
    margin: 1vw;
    border-radius: 10px;
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;

}

.recscardName, .newscardName{
    font-size: 25px;
    position:absolute;

}


.newsCard{
    align-self: flex-end;
    justify-self: flex-end;
}

.recsback, .newsCardback{
    position:absolute;
}

.recsback:hover, .newsCardback:hover{
   filter:blur(3px);

}

.recs .recsslide .recsCard:nth-child(1) .recsback{
    background: radial-gradient(at top, #0b72da, #A7CECC);
}
.recs .recsslide .recsCard:nth-child(2) .recsback{
    background:linear-gradient(to top left, #10899c, #d97381);
}
.recs .recsslide .recsCard:nth-child(3) .recsback{
    background:linear-gradient(to top left, #d9cb73, #1c4aa9);
}
.recs .recsslide .recsCard:nth-child(4) .recsback{
    background:linear-gradient(to top right, #8dd973, #a91c52);
}
.recs .recsslide .recsCard:nth-child(5) .recsback{
    background:linear-gradient(to bottom left, #232622, #a91c52);
}
.recs .recsslide .recsCard:nth-child(6) .recsback{
    background:linear-gradient(to bottom right, #100e19, #789fd0);
}
.recs .recsslide .recsCard:nth-child(7) .recsback{
    background:linear-gradient(30deg, #8d8b9a, #a91c52);
}
.recs .recsslide .recsCard:nth-child(8) .recsback{
    background:linear-gradient(to bottom right, #8dd973, #d9cb73);
}


.news .newsSlide .newsCard:nth-child(1) .newsCardback {
    background:url("https://pitaniemalysha.ru/wp-content/uploads/2020/07/4.jpeg");
    background-size: cover;

}
.news .newsSlide .newsCard:nth-child(2) .newsCardback{
    background:url("https://www.kleo.ru/img/news/R6rZ2.jpg");
    background-size: cover;
}
.news .newsSlide .newsCard:nth-child(3) .newsCardback{
    background:url("http://almode.ru/uploads/posts/2021-03/1617129614_13-p-silvestr-stallone-14.jpg");
    background-size: cover;
}
.news .newsSlide .newsCard:nth-child(4) .newsCardback {
    background:url("http://almode.ru/uploads/posts/2021-04/1618121607_12-p-zhan-reno-12.jpg");
    background-size: cover;
}
.news .newsSlide .newsCard:nth-child(5) .newsCardback{
    background:url("https://pbs.twimg.com/media/DXf2pCSXUAAVpMe.jpg");
    background-size: cover;
}
.news .newsSlide .newsCard:nth-child(6) .newsCardback{
    background:url("https://sun1-29.userapi.com/c850420/v850420874/1acb6c/jsi83VikyT0.jpg");
    background-size: cover;
}




.recs .name .text2, .recs .name .text1{display: none;}

.dropdownmenu2{
    display:flex;
    width: 72vw;
    padding:1.5vw;
    background-color: #353149;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    font-size: 24px;
    margin:0 0 2vw 0;
}
.dropdownmenu2 .text2{
    display: none;
}
.dropdownmenu2[active=true] .text1{
    display: none;
}
.dropdownmenu2[active=true] .text2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cinema{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: fit-content;
    width:100%;
    border: 1px solid #000000;
    margin-top: 10px;
}

.cinema .name{
    align-self: flex-start;
}


.container_slider_css{
    margin:20px;
    width:75vw;
    height:46vw;
    border-radius:10px;
    overflow:hidden;
    position:relative;
}

.photo{
    position:absolute;
    animation:round 16s infinite;
    opacity:0;
    width:75vw;
    height:46vw;
}

@keyframes round {
    25%{opacity:1}
    40%{opacity:0}
}

.photo:nth-child(1){
    background-image:url("https://kinofilmpro.ru/wp-content/uploads/2020/04/art33-768x632.jpg");
    animation-delay:12s;
}
.photo:nth-child(2){
    background-image:url("https://i.ytimg.com/vi/kuweAJJFiDU/maxresdefault.jpg");
    animation-delay:8s;
}
.photo:nth-child(3){
    background-image:url("http://image.tmdb.org/t/p/original/fJWe8TyNJHCybsbdinj0b562FDT.jpg");
    animation-delay:4s;
}
.photo:nth-child(4){
    background-image:url("https://www.kinodrive.com/images/tron-legacy/tron-legacy-11007.jpg");
    animation-delay:0s;
}

.photo:nth-child(1n){
    background-size:75vw 46vw;
}

.descriptioncin{
    display:none;
    margin:1vw;

}


.dropdownmenu2[active=true]~.descriptioncin:nth-last-child(4) .pictd{
    background-image: url("https://i.ytimg.com/vi/kuweAJJFiDU/maxresdefault.jpg");

}
.dropdownmenu2[active=true]~.descriptioncin:nth-last-child(3) .pictd{

    background-image: url("https://kinofilmpro.ru/wp-content/uploads/2020/04/art33-768x632.jpg");
}
.dropdownmenu2[active=true]~.descriptioncin:nth-last-child(2) .pictd{
    background-image: url("https://www.kinodrive.com/images/tron-legacy/tron-legacy-11007.jpg");

}
.dropdownmenu2[active=true]~.descriptioncin:nth-last-child(1) .pictd{
    background-image: url("http://image.tmdb.org/t/p/original/fJWe8TyNJHCybsbdinj0b562FDT.jpg");

}



.dropdownmenu2[active=true]~.descriptioncin:nth-child(n) .pictd{
    width:20vw;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background-size: 20vw 15vw;
    background-repeat:no-repeat;
    height:15vw;
    border-radius:10px;
}
.dropdownmenu2[active=true]~.descriptioncin .descrCard .descr{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    max-font-size: 10px;
    height:fit-content;
    border-radius: 10px;
    padding:2vw;
    background-color: #292536;
    text-align: center;
}
.dropdownmenu2[active=true]~.descriptioncin .descrCard .marks{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-flow:row wrap;
    width:60vw;
    font-size: 30px;

}
.dropdownmenu2[active=true]~.descriptioncin .descrCard .namec{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height:2vw;
}
.dropdownmenu2[active=true]~.descriptioncin .descrCard {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height:fit-content;
    width:60vw;
    margin:2vw;
    row-gap: 2vw;
}
.submenu2{
    display:none;
}

.dropdownmenu2[active=true]~.descriptioncin{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items:center;
    width:90vw;

    height:fit-content;
    min-height:300px;
    background-color: #353149;
    border-radius:10px;
    column-gap:2vw;

}

@media(min-width: 500px) and (max-width: 900px){
    .dropdownmenu2[active=true]~.descriptioncin{
        flex-flow:column wrap;
        padding:2vw;
    }
    .dropdownmenu2[active=true]~.descriptioncin:nth-last-child(n) .pictd{
        background-size: 40vw 30vw;
        height:30vw;
        width:40vw;
    }
    .dropdownmenu2[active=true]~.descriptioncin .descrCard .descr{
        width:75vw;
        padding: 2vw;
        font-size: 3vw;

    }
    .dropdownmenu2[active=true]~.descriptioncin .descrCard{
        width:80vw;
    }
    .dropdownmenu2[active=true]~.descriptioncin .descrCard .namec{
        font-size: 4vw;
        height:fit-content;
    }

}

@media(max-width: 500px){

    .cinema{
        width:99vw;

    }
    .cinema .name, .recs .name{
        padding:1vw 0 2vw 1vw;
        font-size: 16px;
    }
   .dropdownmenu2 .text1, .dropdownmenu2 .text2{
        font-size: 16px;
    }
    .slider{
        max-width:300px;
        height:190px;
    }
    .recsslide{
        flex-flow:column wrap;

    }
    .recsCard, .recsback{
        width:70vw;
    }
    .recs{
        flex-flow:column wrap;
    }

    .container_slider_css{
        width:90vw;
        height:60vw;
        margin:2vw 0 3vw 0 ;
    }

    .container_slider_css .photo{
        width:90vw;
        height: 60vw;
        background-size: 90vw 60vw;

    }

    .recs .recsslide{
        display:none;
    }

    .recs .name .text1{display: flex;}

    .recs .name .text2, .recs .name .text3{
        display: none;
    }
    .recs .name[active=true] .text1{
        display: none;
    }
    .recs .name[active=true] .text2{
        display: flex;
    }

    .dropdownmenu2{
        width:90vw;
        padding: 3vw;
    }
    .recsslide{
        row-gap: 3vw;
    }

    .recs .name[active=true]~ .recsslide{
        display:flex;

    }

    .dropdownmenu2[active=true]~ .descriptioncin:nth-last-child(n){
        display:flex;
        flex-flow:column wrap;
        padding:2vw;
        row-gap: 3vw;
    }
    .dropdownmenu2[active=true]~.descriptioncin:nth-last-child(n) .pictd{
        background-size: 70vw 50vw;
        height:50vw;
        width:70vw;
    }
    .dropdownmenu2[active=true]~.descriptioncin .descrCard2{
        width:80vw;
        row-gap:3vw;
    }
    .dropdownmenu2[active=true]~.descriptioncin .descrCard .marks{
        display:none;
    }
    .dropdownmenu2[active=true]~.descriptioncin .descrCard .descr{
        display:none;
    }
    .dropdownmenu2[active=true]~.descriptioncin .descrCard .namec{
        font-size: 6vw;
        height:fit-content;
    }

}

