*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row nowrap;
}

.decfield{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row nowrap;
    width:10vw;
    height:100vh;
    background: #100E19;
}

.formfield{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-flow: column nowrap;
    flex:1 1 auto;
    height:100vh;
}

.form{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    font-family: 'Comfortaa', cursive;
    flex-flow: column nowrap;
    width:75vw;
    height:100vh;
    margin:0 0 0 1vw;
    row-gap: 4vh;
}

.form-header{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: 200;
    margin: 2vw 0 0 2vw;
    padding: 0 0 0 10px;
}

.form-description, .form-questions {
    width: fit-content;
    height: fit-content;
    margin: 2vw 0 0 2vw;
}

.form-description .header, .form-questions .header{
    font-size: 20px;
    padding: 0 0 15px 10px;

}

.form-description .field{
    width:fit-content;

}

.form-description .field input[type=text]{
    width:80vw;
    height:20vh;
    font-size: 18px;
    border-radius: 10px;

}

.form-description .form-button{
    display: flex;
    justify-content:center;
    align-items:center;
    margin:3vw 0 0 0;
    width:200px;
    height:50px;
    border-radius: 30px;
    font-size: 18px;
}

.form-description .form-button:not(hover){
    background: #a91c52;
    color:#FFFFFF;
    border: 4px solid #a91c52;
    transition:0.5s;
}

.form-description .form-button:hover{
    background: #ffffff;
    color: #a91c52;
    border: 4px solid #a91c52;
    transition:0.5s;
    cursor:pointer;
}

.form-questions .questions, .form-questions{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-flow: column nowrap;

}

.form-questions .questions{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-flow: column nowrap;
    row-gap: 1vw;
}

.form-questions .questions .question{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #100E19;
    border-radius: 10px;
    width:60vw;
    height: 5vh;
    font-size: 18px;
}

.form-questions .questions .question:hover, .form-questions .questions .question:active{
    cursor:pointer;
}

.form-questions .questions .question .text{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}

.form-button{
    display: flex;
    justify-content:center;
    align-items:center;
    width:200px;
    height:50px;
    border-radius: 30px;
    font-size: 18px;
    margin: 2vw 0 0 2vw;
}

.form-button:not(hover){
    background: #a91c52;
    color:#FFFFFF;
    border: 4px solid #a91c52;
    transition:0.5s;
}

.form-button:hover{
    background: #ffffff;
    color: #a91c52;
    border: 4px solid #a91c52;
    transition:0.5s;
    cursor:pointer;
}