*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row nowrap;
}

.decfield{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: row nowrap;
    width:6vw;
    height: 100vh;
    background: #100E19;
}

.decfield .text{
    display: none;
}

.formfield{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-flow: column nowrap;
    flex:1 1 auto;
    height:100vh;
}

.form{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    font-family: 'Comfortaa', cursive;
    flex-flow: column nowrap;
    width:75vw;
    height:100vh;
    margin:0 0 0 1vw;
    row-gap: 4vh;
}

.form-header{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: 200;
    margin: 2vw 0 0 2vw;
}

.form-description, .form-questions {
    width: fit-content;
    height: fit-content;
    margin: 1.25vw 0 0 2vw;
}

.form-description .header, .form-questions .header{
    font-size: 20px;
    padding: 0 0 15px 0;

}

.form-description .field{
    width:fit-content;

}

.form-description .field textarea{
    resize: none;
    padding: 10px;
    width:80vw;
    height:20vh;
    font-size: 18px;
    border-radius: 10px;

}

.form-description .form-button{
    display: flex;
    justify-content:center;
    align-items:center;
    margin:3vw 0 0 0;
    width:200px;
    height:50px;
    border-radius: 30px;
    font-size: 18px;
}

.form-description .form-button:not(hover){
    background: #a91c52;
    color:#FFFFFF;
    border: 3px solid #a91c52;
    transition:0.5s;
}

.form-description .form-button:hover{
    background: #ffffff;
    color: #a91c52;
    border: 3px solid #a91c52;
    transition:0.5s;
    cursor:pointer;
}

.form-questions .questions, .form-questions{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-flow: column nowrap;

}

.form-questions .questions{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-flow: column nowrap;
    row-gap: 1vw;
}

.form-questions .questions .question{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #100E19;
    border-radius: 10px;
    width:60vw;
    height: 5vh;
    font-size: 18px;
}

.form-questions .questions .question:hover, .form-questions .questions .question:active{
    cursor:pointer;
}

.form-questions .questions .question .text{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
}

.form-button{
    display: flex;
    justify-content:center;
    align-items:center;
    width:200px;
    height:50px;
    border-radius: 30px;
    font-size: 18px;
    margin: 2vw 0 0 2vw;
}

.form-button:not(hover){
    background: #a91c52;
    color:#FFFFFF;
    border: 3px solid #a91c52;
    transition:0.5s;
}

.form-button:hover{
    background: #ffffff;
    color: #a91c52;
    border: 3px solid #a91c52;
    transition:0.5s;
    cursor:pointer;
}

@media(max-width:1100px){
    .decfield{
        display:flex;
        place-content: center;
        width:100%;
        height:7vh;
        font-family: 'Comfortaa' ,cursive;

    }

    .decfield .text{
        display: flex;
        color:white;
        padding:10px 0 15px 15px;
        font-size: 36px;
    }

    .form-questions .questions .question{
        width:90vw;
        padding:3px;
        height:fit-content;
    }

    .form-questions .questions .question .text{
        font-size: 26px;
        padding: 10px;
    }

    .form-questions .questions{
        row-gap: 3vw;
    }

    body{
        flex-flow:column wrap;
    }

    .formfield{
        width:100%;

    }

    .form{
        height:fit-content;
    }

    .buttons{
        margin: 0 0 2vw 0;
    }

    .form-description .header, .form-questions .header{
        font-size: 26px;
    }

    .form-button, .form-description .form-button{
        width:300px;
        height:60px;
        font-size: 24px;
    }
    .form-description .field textarea{
        width:90vw;
    }
}


@media (max-width:650px) and (min-width:500px){

    .decfield{
        display:flex;
        place-content: center;
        width:100%;
        height:7vh;
        font-family: 'Comfortaa' ,cursive;

    }

    .decfield .text{
        display: flex;
        color:white;
        padding:10px 0 15px 15px;
        font-size: 30px;
    }

    .form-questions .questions .question{
        width:90vw;
        height:fit-content;
    }

    .form-questions .questions .question .text{
        font-size: 16px;
        padding: 10px;
    }

    .form-questions .questions{
        row-gap: 5vw;
    }

    body{
        flex-flow:column wrap;
    }

    .formfield{
        width:100%;

    }

    .form{
        height:fit-content;
    }

    .buttons{
        margin: 0 0 2vw 0;
    }
    .form-description .field textarea{
        width:90vw;
    }
}

@media (max-width:500px){
    .form-button, .form-description .form-button{
        width:180px;
        height:50px;
        font-size: 20px;
    }

    .form-questions .questions .question .text{
        font-size: 18px;
    }
    .form-description .header, .form-questions .header{
        font-size: 20px;
    }

    .form-header{
        font-size: 24px;
    }
    .form-description .field textarea{
        width:86vw;
    }
}